<!--<div class="item-sheet">
    <form class="{{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <h1 class="item-title"><input name="name" class="item-title" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <div>
            the very first item sheet
        </div>
    </form>
</div>-->

<div class="item-card">
    <div class="rarity legendary">Legendary</div>
    <div class="item-title">The Last Word</div>
    <div class="item-type">Hand Cannon</div>
    <div class="item-description">A gun that tells the story of its wielder.</div>
    <div class="item-stats">
        <div class="stat-item">Impact: 80</div>
        <div class="stat-item">Range: 60</div>
        <div class="stat-item">Stability: 40</div>
    </div>
</div>